<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="C:/inetpub/logs/nlog-internal-PGM_web.log"
      internalLogToConsole="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- 集中目錄：C:\inetpub\logs（與 IIS LogFiles／FailedReqLogFiles 同層）。
         App Pool／本機執行身分需對該資料夾有修改權；部署後請以系統管理員執行 docs\grant-inetpub-logs.bat -->
    <target xsi:type="File"
            name="file"
            fileName="C:/inetpub/logs/PGM_web_${shortdate}.log"
            createDirs="true"
            keepFileOpen="false"
            layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-traceidentifier}|${message} ${exception:format=tostring}"
            archiveAboveSize="10485760"
            maxArchiveFiles="14" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
